@model IEnumerable<Book>
@{
    ViewData["Title"] = "Trang Chủ";
}

<h1>Tất cả sách</h1>

<div class="row pb-3">
    @foreach (Book book in Model)
    {
        <div class="col-md-2 col-4">
            <div class="row p-2">
                <div class="col-12 p-1 card">
                    <a asp-action="Details">
                        @if (book.ImageUrl is not null)
                        {
                            <img src="@book.ImageUrl" class="card-img-top image
                                image-fluid rounded" />
                        }
                        else
                        {
                            <img src="~/imgs/books/default.jpg" class="card-img-top image
                                image-fluid rounded" />
                        }
                    </a>
                    <div class="card-body">
                        <a asp-action="Details">
                            <h6 class="card-title">@book.Title</h6>
                        </a>
                        <p class="card-price">
                            Giá: <b>@book.DiscountPrice.ToString("#,## đ")</b><br />
                            @if (book.DiscountPercent != 0)
                            {
                                <strike>@book.Price.ToString("#,## đ")</strike>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>