@{
    List<Category> categories = Context.Session.GetObject<List<Category>>("categories") ?? new();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopBookStore</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow
            mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <span class="fab fa-readme"></span>&nbsp;TopBookStore
                </a>

                <button class="navbar-toggler" type="button" 
                    data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" 
                                role="button" id="dropdownCategory"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="fas fa-book-open"></span>&nbsp;Thể Loại
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
                                @foreach (Category c in categories)
                                {
                                    <a class="dropdown-item" asp-route-id="@c.CategoryId" asp-area="" asp-controller="Home"
                                        asp-action="Index">
                                        @c.Name
                                    </a>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Book" asp-action="Index">
                                <span class="fas fa-filter"></span>&nbsp;Lọc Sách
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav flew-grow-1 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" 
                                asp-controller="Cart" asp-action="Index">
                                <span class="fas fa-shopping-cart"></span>&nbsp;Giỏ Hàng
                                <span class="badge badge-light"></span>
                            </a>
                        </li>
                        <partial name="_LoginPartial" />
                        @if (User.IsInRole(RoleConstants.RoleAdmin) ||
                            User.IsInRole(RoleConstants.RoleLibrarian))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="Admin" 
                                    asp-controller="Home" asp-action="Index">
                                    <span class="fas fa-cog"></span>&nbsp;Admin
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-center">
            <img src="~/imgs/logo.jpg" class="img-fluid center-block" />
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TopBookStore -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                Privacy
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>

</html>
