@{
    List<Category> categories = Context.Session.GetListObject<Category>("categories") ?? new();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TopBookStore.Mvc</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark 
            border-bottom box-shadow mb-3 fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    TopBookStore
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                    data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" 
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">
                                Trang chủ
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white dropdown-toggle" 
                                role="button" id="dropdownCategory"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Thể Loại
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownCategory">
                                @foreach (Category c in categories)
                                {
                                    <a class="dropdown-item"
                                        asp-route-id="@c.CategoryId" 
                                        asp-area="" asp-controller="Home" asp-action="Index">
                                        @c.Name
                                    </a>
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area=""
                                asp-controller="Book" asp-action="List">
                                Lọc Sách
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Author"
                                asp-action="Index">Tác Giả</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-center">
            <img src="~/img/logo.jpg" class="img-fluid center-block" />
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TopBookStore - 
            <a asp-area="" asp-controller="Home" asp-action="Privacy">
                Privacy
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>

</html>
